NEXT_PUBLIC_SUPABASE_URL=https://cvjsgyqdsddjlcwggngj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
TELEGRAM_TOKEN=your_telegram_bot_token
NEXT_PUBLIC_BOT_USERNAME=PlanTimeAI_bot
JWT_SECRET=your_random_secret_here
